
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body, .wrapper, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height:100vh;
    background-image: url("https://wallpapercave.com/wp/wp6172466.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper{
    width: 440px;
    background: rgba(7, 0, 15, 0.3);
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 38px;
    border: 2px solid;
}

.wrapper img {
    max-width: 103px;
}

.wrapper h1{
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0;
    color: bisque;
}

.wrapper .content {
width: 100%;
justify-content: space-between;
}

.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}

.content .column {
border-radius: 12px;
padding: 0 10px;
border: none;
width: calc(100% / 3 - 5px);
}

.column select{
    outline: none;
    border-radius: 12px;
    border: 2px solid #fff;
    height: 53px;
    width: 105%;
    font-size: 19px;
    color: #fff;
    background-color: rgba(7, 0, 15, 0.3);
}

.button1 button{
    width: 350px;
    height: 50px;
    outline: none;
    border: 2px solid #000;
    cursor: pointer;
    color: #fefefe;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    font-display: bold; 
    padding: 9px 0;
    border-radius: 5px;
    background: rgb(62, 19, 170);
}

.button2 button{
    width: 350px;
    height: 50px;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
    color: rgb(247, 235, 18);
    margin-top: 20px;
    font-size: 21px; 
    padding: 9px 0;
    border-radius: 5px;
    background: rgba(7, 0, 15, 0.3);
}


























